@import './variables';

@mixin for-phone-only {
  @media (max-width: $sm) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: $md) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: $lg) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: $xl) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: $xxl) {
    @content;
  }
}

@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-name;
    src: url($path + '.woff') format('woff'), url($path + '.woff2') format('woff2');
    font-weight: $weight;
    font-style: $style;
  }
}
